{
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",

    "transform-async-to-generator",
    "transform-es2015-parameters",
    "transform-function-bind",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
