html {
  font-size: 15px;
  line-height: 1.6;
}

body {
  margin: 0;
}

img,
video {
  max-width: 100%;
  max-height: calc(100% - 2rem);
  margin-bottom: -1.45em;
}

.layout--ycenter {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 100%;
}

.layout--flex {
  display: flex;
}
.layout--flex > a {
  flex: 1 1 100%;
  text-align: center;
  cursor: pointer;
}

.menu__box {
  -webkit-app-region: drag;
  padding: .4rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.menu__box.hidden {
  display: none;
}
.menu__box + .dropfile__box,
.menu__box + .slider__box {
  height: calc(100vh - 37px);
}
.menu__box + .slider__box h1,
.menu__box + .slider__box layout-ycenter {
  bottom: calc(50% + 37px);
}

.menu__separator {
  border-left: 1px solid #ccc;
  margin: 0 .5em;
}

.dropfile__box {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 2em;
}

.dropfile__box > span {
  flex-grow: 1;
  text-align: center;
}

.slider__box {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 2em;
}

.slider__page {
  position: relative;
  display: none;
  flex: 1 1 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
}
.slider__page.visible {
  display: block;
}

.slider__page > *:first-child {
  margin-top: 0;
}

.slider__page > *:last-child {
  margin-top: 0;
}
